.jumbotron {
  text-align: center;
  /*opacity: .7;*/
  background-color: rgba(16, 74, 102, 0.7);
  color: gainsboro;
  margin-bottom: 10rem;
  margin-top: 5rem;
}

body {
  background-color: rgba(240, 248, 255, 1);
  z-index: 1;
}

.bg-image {
  z-index: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/letter-x15.png");
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.square {
  color: #104a66;
  border: 5px solid black;
  background-color: rgba(240, 248, 255, 1);
  opacity: .7;
  height: 18vh;
  text-align: center;
  vertical-align: middle;
  line-height: 15vh;
  font-size: 18rem;
}

#square1 {
  border-width: 0px 5px 5px 0px;
}

#square2 {
  border-width: 0px 5px 5px 5px;
}

#square3 {
  border-width: 0px 0px 5px 5px;
}

#square4 {
  border-width: 5px 5px 5px 0px;
}

#square5 {
  border-width: 5px 5px 5px 5px;
}

#square6 {
  border-width: 5px 0px 5px 5px;
}

#square7 {
  border-width: 5px 5px 0px 0px;
}

#square8 {
  border-width: 5px 5px 0px 5px;
}

#square9 {
  border-width: 5px 0px 0px 5px;
}
